python.path=python3.11
python.pipPath=pip3
python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveSetupFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true

includes = mcpgateway/** pyproject.toml Containerfile.lite
excludes = **/tests/** **/charts/** **/deployment/** **/docs/** **/deployment/k8s/** **/mcp-servers/** **/agent_runtimes/**
