.error-status {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  background: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}

/* CSS for the spinner */
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;

  /* margin: 10px auto; */

  /* Positioning to the left */
  margin: 10px 0 10px 10px;

  /* top, right, bottom, left */
  display: block;

  /* Ensures it behaves like a block-level element */
}

/* CSS for the tooltip */
.tooltip {
  position: fixed;
  z-index: 9999;
  background-color: #1f2937; /* Tailwind's gray-800 */
  color: white;
  font-size: 0.875rem; /* text-sm */
  border-radius: 0.5rem; /* Increased rounded corners */
  padding: 0.75rem 1rem; /* More padding */
  pointer-events: none;
  opacity: 0;
  transform: scale(0.8); /* Tooltip starts slightly smaller */
  transition:
    transform 0.2s ease,
    opacity 0.3s ease; /* Added smooth transition */
}

.tooltip.show {
  opacity: 1;
  transform: scale(1); /* Scales up smoothly */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.feedback:blank {
  display: none;
}

/* .hidden {
  display: none;
} */
