apiVersion: v1
kind: Secret
metadata:
  name: mcpgateway-secrets
type: Opaque
data:
  DATABASE_URL: "{{ pg_conn   | b64encode }}"
  REDIS_URL:    "{{ redis_conn| b64encode }}"
  JWT_SECRET:   "{{ jwt_secret| b64encode }}"
